.content-wrapper {
    /* These styles are required for the "scroll-over" effect */
    position: absolute;
    top: 87%;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: white;
}

.splash-container {
    background: #1f8dd6;
    z-index: 1;
    width: 100%;
    position: absolute;
    height: 88%;
    overflow: hidden;
}

.splash {
    /* absolute center .splash within .splash-container */
    width: 80%;
    height: 80%;
    margin: auto;
    position: absolute;
    top: 0px; left: 0; bottom: 0; right: 0;
    text-align: center;
    line-height: 5em;
}

/* This is the main heading that appears on the blue section */
.splash-head {
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: 3px solid white;
    padding: 1em 40% 1em 40%;
    font-weight: 100;
    border-radius: 5px;
    line-height: 1em;
}

.splash-subhead {
    color: white;
    letter-spacing: 0.05em;
    opacity: 0.8;
}

.area-table {
    /* Remove spacing between table cells (from Normalize.css) */
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #cbcbcb;
}

.area-table caption {
    color: #000;
    font: italic 85%/1 arial, sans-serif;
    padding: 1em 0;
    text-align: center;
}

.area-table td{
    border-left: 1px solid #cbcbcb;/*  inner column border */
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible; /*to make ths where the title is really long work*/
    padding: 0.5em 15em; /* cell padding */
    table-layout:fixed
}

td:first-child {
    background-color: yellow;
    padding: 0.5em 5em;
}

.maintext{
    color:white;
    font-size: 12px;
    font-weight:lighter;
    text-align: center;
}